:root {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    --playerone: rgb(228, 228, 101);
    --playertwo: rgb(93, 223, 228);
    --background: rgb(28, 134, 145)
}

body {
    display: grid;
    justify-content: center;
    justify-items: center;
    margin: 0;
    background: var(--background);
    color: rgb(248, 248, 248);
}

.header {
    margin: 40px;
}

.container {
    border-top: 1px dashed gold;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 100px auto;
    justify-items: center;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.gameboardContainer {
    display: grid;
    grid-template-columns: 10vw 10vw 10vw;
    grid-template-rows: 10vw 10vw 10vw;
    gap: 8px;
    /* background: rgb(41, 131, 141); */
    padding: 8px;
    border-radius: 10px;
    grid-column: 1 / 4;
    align-self: start;
}

.square {
    width: 100%;
    height: 100%;
    background: rgb(84, 166, 175);;
    border-radius: 5px;
    cursor: pointer;
}

.square:hover {
    background: rgb(59, 156, 166);;
}

.square.x {
    background: var(--playerone);
}

.square.o {
    background: var(--playertwo);
}

.player-one, .player-two {
    font-size: 24px;
}

.highlight-one {
    border: 2px solid var(--playerone);
    padding: 10px;
    /* text-decoration: underline; */
}

.highlight-two {
    border: 2px solid var(--playertwo);
    padding: 10px;
}

.score {
    font-weight: 800;
}